@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <ul class="collection with-header">
        <li class="collection-item">
            El Cambio a sido guardado correctamente
            <a href=@Url.Action("Index", "Home") class="secondary-content">
                <i class="material-icons right">send</i>
            </a>
        </li>
    </ul>
</div>