@{
    ViewBag.Title = "Learn languages";
}
<div secction no-pad-bot>
    <div class="row center">
        <h5 class="headerLenght  col s12  black-text">
            Bienvenido a  Easy Learning
        </h5>
    </div>
    <div>
        <p>
            
            Easy Learning en una web en la que tu puedes aprender distintos lenguajes.<br>
            <br>
            Los niveles disponibles son: A1, A2, B1, B2, y C1.<br>
            <br>
            Estos niveles estan en base a <strong>CEFR</strong> los cuales son considerados como una escala global.<br>
        </p>
        <p>
            Las "Escalas globales" son tres niveles, y cada nivel esta dividido en otros dos:<br>
            <br>
            <strong> A:  Basico</strong><br>
            <br>
                A1 Principiante<br>
                A2 Elemental<br>
            <br>
            <strong> B:  Intermedio </strong><br>
            <br>
                B1 Intermedio<br>
                B2 Avanzado intermedio<br>
            <br>
            <strong> C:  Avanzado</strong><br>
            <br>
                C1 Advanzado<br>
                C2 Avanzado final<br>
        </p>
    </div>
</div>
